.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar todo */
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

h3 {
  margin-bottom: 15px;
  font-weight: normal;
  color: #c8b11b;
}

.cuit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilos comunes de las cajas */
.box {
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #ffffff; /* Borde negro grueso como la imagen */
  border-radius: 0;       /* Bordes cuadrados */
  outline: none;
}

.box:focus {
  
  border-color: #007bff;
}

/* Tamaños específicos */
.box-small {
  width: 50px;
}

.box-large {
  width: 180px; /* Espacio para el DNI */
}

.guion {
  font-size: 24px;
  font-weight: bold;
}

.btn-buscar {
  margin-left: 15px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.btn-buscar:hover{
  background-color: #c8b11b;

}
.btn-buscar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}