:root {
  --mutual-dark: #0f1724; 
  --mutual-yellow: #f1c40f; 
  --text-white: #ffffff;
  --text-gray: #a0a5ab;
}

/* Contenedor Principal */
.card-mutual {
  background-color: var(--mutual-dark);
  border: 2px solid var(--mutual-yellow);
  border-radius: 12px; /* Bordes más rectos como la imagen */
  padding: 10px;
}

.tracking-tight {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.text-secondary-light {
  color: var(--text-gray);
  font-size: 0.8rem;
}

/* Caja de SOCIO ACTIVO */
.status-box {
  background-color: transparent;
  border: 3px solid var(--mutual-yellow);
  border-radius: 12px;
  padding: 25px 10px;
  /* El resplandor exterior amarillo */
  box-shadow: 0 0 15px rgb(255, 0, 0); 
}
.box-shadow-active{
  box-shadow: 0 0 15px rgb(0, 255, 21); 
}

.status-text {
  color: var(--text-white);
  font-size: 2.5rem;
  letter-spacing: 2px;

}




/* Spinner */
.spinner-border.text-brand-yellow {
  color: var(--mutual-yellow) !important;
}
.error-message{
  color: red;
}

.btn-atras {
  margin-left: 15px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.btn-atras:hover{
  background-color: #c8b11b;

}
.btn-atras:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}